modules = ["nodejs-20"]
[agent]
expertMode = true
integrations = ["javascript_openai_ai_integrations:2.0.0"]

[nix]
channel = "stable-25_05"
packages = ["zip", "nano"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Next.js Dev Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Next.js Prod Server"

[[workflows.workflow]]
name = "Next.js Dev Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- -H 0.0.0.0 -p 5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Next.js Prod Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start -- -H 0.0.0.0 -p 5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 23636
externalPort = 3000

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start", "--", "-H", "0.0.0.0", "-p", "5000"]
build = ["npm", "run", "build"]
publicDir = "out"

[userenv]

[userenv.shared]
NEXT_PUBLIC_CHAIN_ID = "56"
NEXT_PUBLIC_RPC_URL = "https://bsc-dataseed.binance.org/"
NEXT_PUBLIC_BSC_RPC = "https://bsc-dataseed.binance.org/"
NEXT_PUBLIC_CONTRACT_ADDRESS = "0xe6B06f7C63F6AC84729007ae8910010F6E721041"
NEXT_PUBLIC_TOKEN_CONTRACT = "0xe6B06f7C63F6AC84729007ae8910010F6E721041"
NEXT_PUBLIC_PRESALE_CONTRACT = "0xC0c050c064Cc46ceca7dC5339244515c8A29590B"
NEXT_PUBLIC_DAO_WALLET = "0xC16eC985D98Db96DE104Bf1e39E1F2Fdb9a712E9"
NEXT_PUBLIC_FOUNDER_WALLET = "0xFf01Fa9D5d1e5FCc539eFB9654523A657F32ed23"
NEXT_PUBLIC_OPERATION_WALLET = "0x0ffe438e047dfb08c0c79aac9a63ea32d49a272c"
NEXT_PUBLIC_PRESALE_STAGE1 = "0.078"
NEXT_PUBLIC_PRESALE_STAGE2 = "0.098"
NEXT_PUBLIC_LISTING_PRICE = "0.12"
NEXT_PUBLIC_TOKEN_SUPPLY = "21000000"
NEXT_PUBLIC_PRESALE_TARGET = "10000000"
NEXT_PUBLIC_SITE_URL = "https://aidag-chain.com"
NEXT_PUBLIC_TWITTER = "https://twitter.com/aidagDAO"
NEXT_PUBLIC_TELEGRAM = "https://t.me/Aidag_Chain_Global_Community"
NEXT_PUBLIC_LOGO_URL = "/logo.png"
NEXT_PUBLIC_FOUNDER_COINS = "3001000"
NEXT_PUBLIC_FOUNDER_LOCK_PERIOD = "1"
NEXT_PUBLIC_DAO_MEMBERSHIP_FEE = "5"
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID = "1d3b7fb8b050f6ffb48a3b3df1658b06"
FOUNDER_SECRET_HASH = "Baba1kubra22."
SOULWARE_WALLET_ADDRESS = "0x65498beaA3e8506Ef2551a20b86A2a0cF0b85A7C"
SOULWARE_DAO_PRIVATE_KEY = "0xabc5636110793e48f84ef2eacbbd42908de07771c39c85fd6612cbc5b9567b4e"
